[submodule "vgg/tensorflow-vgg"]
	path = vgg/tensorflow-vgg
	url = git@github.com:davidgengenbach/tensorflow-vgg.git
[submodule "vgg/vgg16-caffe"]
	path = vgg/vgg16-caffe
	url = git@github.com:davidgengenbach/vgg-caffe.git
