[submodule "dump/tensorflow-vgg"]
	path = dump/tensorflow-vgg
	url = git@github.com:davidgengenbach/tensorflow-vgg.git
[submodule "dump/vgg16-caffe"]
	path = dump/vgg16-caffe
	url = git@github.com:davidgengenbach/vgg-caffe.git
